<form (submit)="onSubmit()" [formGroup]="form">
  <div class="field">
    <label for="email">Email</label>
    <input formControlName="email" id="email" pInputText type="text"/>
  </div>
  <div class="field">
    <label for="password">Password</label>
    <input formControlName="password" id="password" pInputText type="password"/>
  </div>
  <div class="d-flex justify-content-space-between align-items-center">
    <a [routerLink]="['/auth/register']">Register</a>
    <button label="LogIn" pButton type="submit"></button>
  </div>
</form>
